
.title::first-letter{
    color: red;
    font-size: 2em;
}

.text::first-line{
    color: blue;
}

.inline{
    display: block;
}

.inline::first-letter{
    color: blueviolet;
    font-size: 1.5em;
}

.text::selection{
    color: lime;
    background-color: maroon;
}

.dolar::before, .dolar::after{
    content: '';
    display: block;
    width: 20px;
    height: 20px;
    background-color: red;
}
