/* body{
    padding-top: 5em;
} */

.slide{
    height: 300px;
    background-color: brown;
    text-align: center;
    line-height: 6em;
    font-size: 3em;
}

.menu{
    background-color: blueviolet;
    padding: .5em;
    text-align: center;
    font-size: 2em;
    position: sticky;
    width: 100%;
    top: 0px;
}
.title{
    margin: 0;
}